<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_INI_DGASPC_TULCEA_tickete_Connection" connectionString="XpoProvider=MSSqlServer;data source=192.168.254.242\SQL2019;user id=;password=;initial catalog=INI_DGASPC_TULCEA_tickete;Persist Security Info=true" />
    </connectionStrings>
</configuration>